.primary-1 { background-color: #7b7b7b }
.primary-2 { background-color: #ededed }
.primary-0 { background-color: #dfdfdf }
.primary-3 { background-color: #000000 }

.color-table {
	border-collapse:collapse;
	border:none;
	border-spacing:0;
	font-size:100%;
	}

.color-table th {
	text-align: right;
	vertical-align: middle;
	font-size: 100%;
	font-weight: normal;
	border: none;
	}

.color-table td.sample {
	width:6em; height:6em;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	border: 1px solid white;
	white-space:nowrap;
	}

.color-table td.sample-0 {
	width:18em;
	}

.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

hr {
  margin: 2em 0 1em 0;
  border:none;
  border-bottom:1px solid silver;
  }

@font-face {
  font-family: 'Suranna', serif;
  font-family: font-family: 'Roboto', sans-serif;
  src: <link href="https://fonts.googleapis.com/css?family=Roboto|Suranna" rel="stylesheet">
}

h1 {
  font-family: 'Suranna';
  font-weight: 100;
  color: #000000;
  font-size: 32px;
}

h2 {
  font-family: 'Suranna';
  font-weight: 100;
  color: #000000;
  font-size: 18px;
}

h3 {
  font-family: 'Suranna';
  color: #F16522;
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 5px;
}

li{
  font-family: 'Helvetica';
  color: #7b7b7b;
  font-weight: normal;
  font-size: 14px;
  list-style-type: none;
}

p {
  font-family: 'Roboto';
  color: #7b7b7b;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
	padding: 6px, 12px;
	border: 1px;
}

#cookieTable {
	width: 100%;
}

#tableTitle {
	background-color: #dfdfdf;
}

th {
  font-family: 'Helvetica';
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  list-style-type: none;
	padding: 12px;
	border: 0;
}

tr {
  font-family: 'Helvetica';
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  list-style-type: none;
	background-color: #ededed;
	padding: 0;
}

td {
  font-family: 'Roboto';
  color: #7b7b7b;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
	width: 18px;
	padding: 18px;
	text-align: center;
}
